<div class="sidebar">
    <div class="sb-logo"><div class="sb-logo-title"><span></span>FIDS</div><div class="sb-logo-sub2">쓰레기통 화재 감지 시스템</div><div class="sb-logo-sub">관리자 대시보드</div></div>
    <div class="sb-nav">
      <div class="nav-item" onclick="location.href='/dashboard'"><i class="ti ti-home"></i>대시보드</div>
      <div class="nav-item" onclick="location.href='/trashbins'"><i class="ti ti-trash"></i>쓰레기통 관리</div>
      <div class="nav-item" onclick="location.href='/realtime'"><i class="ti ti-chart-line"></i>실시간 모니터링</div>
      <div class="nav-item" onclick="location.href='/alert'"><i class="ti ti-bell"></i>알림 기록</div>
      <div class="nav-item operator-menu" onclick="location.href='/admin/approval'"><i class="ti ti-user-check"></i>관리자 승인 관리</div>
      <div class="nav-item active" onclick="location.href='/settings'"><i class="ti ti-settings"></i>설정</div><div class="nav-item" onclick="location.href='/'"><i class="ti ti-home-2"></i>메인페이지</div>
    </div>
    <div class="sb-bottom"><div class="sb-user"><div class="sb-avatar"><i class="ti ti-user"></i></div><div><div id="userName" class="sb-user-name">&#50868;&#50689;&#51088;</div><div id="userEmail" class="sb-user-email">operator@korea.kr</div></div></div><div id="logoutBtn" class="sb-logout"><i class="ti ti-logout"></i>로그아웃</div></div>
  </div>
