<div class="panel" id="section-account">
          <div class="panel-header"><div class="panel-icon green"><i class="ti ti-user"></i></div><div><div class="panel-title">계정 정보</div><div class="panel-sub">관리자 계정 정보를 수정합니다.</div></div></div>
          <div class="grid2"><div class="field-group"><div class="field-label">이름</div><input id="profileName" class="input-field" style="width:100%"></div><div class="field-group"><div class="field-label">소속 기관</div><input id="profileOrg" class="input-field" style="width:100%" placeholder="소속 기관을 입력하세요"></div></div>
          <div class="grid2"><div class="field-group"><div class="field-label">이메일</div><input id="profileEmail" class="input-field" style="width:100%" type="email"></div><div class="field-group"><div class="field-label">휴대전화</div><input id="profilePhone" class="input-field" style="width:100%" placeholder="010-0000-0000"></div></div>
          <div class="grid2"><div class="field-group"><div class="field-label">권한</div><input id="accountRole" class="input-field" style="width:100%" disabled></div><div class="field-group"><div class="field-label">승인 상태</div><input id="approvalStatus" class="input-field" style="width:100%" disabled></div></div>
          <div class="info-box"><i class="ti ti-info-circle"></i>이메일을 변경하면 일반 관리자는 다시 관리자 승인을 받아야 합니다. 이름, 소속 기관, 휴대전화는 바로 수정됩니다.</div>
          <div class="save-bar"><button class="btn blue" type="button" onclick="saveProfile()"><i class="ti ti-device-floppy"></i>계정 정보 저장</button></div>
        </div>
